# Maven build output
target/

# IDE specific files
.settings/
.classpath
.project

# Other system files
.DS_Store
Thumbs.db
bin/

.mvn/
test-output/

# Ensure target and bin are ignored
target/
bin/
# Optional: ignore local screenshots if you only want CI/CD ones
# Screenshots/