name: Selenium Java github CI CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Build and Run Tests with Maven
      run: mvn clean test

    - name: Upload Test Reports
      if: always() # This ensures reports are saved even if a test fails
      uses: actions/upload-artifact@v4
      with:
        name: automation-reports
        path: |
          target/surefire-reports/
          allure-results/
